---
export const partial = true;
import { getCollection } from 'astro:content';
import SectionInfo from '../../../components/SectionInfo.astro';
import CertificateCard from "../../../components/CertificateCard.astro";
import CourseCard from '../../../components/CourseCard.astro';
import Separator from '../../../components/Separator.astro';

const spanishCourseEntries = (await getCollection('courses', ({ id }) => {
  return id.startsWith('es/');
})).sort((a, b) => b.id.localeCompare(a.id));;

const certificateEntries = (await getCollection('certificates', ({ id }) => {
  return id;
}))
---
<div>
    <SectionInfo 
        banner="https://res.cloudinary.com/dwczjy8e4/image/upload/v1695177301/portfolio/Education_yxowtp.png"
        alt="Imagen con notebook y una mano sosteniendo una lapicera, apoyada sobre un anotador"
        subtitle="EN CONSTANTE APRENDIZAJE"
        title="Cursos y certificados"
    />

    <div class="mb-8">
        <h3 class="text-2xl font-bold mb-4">Certificados</h3>
        {
            certificateEntries.map((certificate => (
                <CertificateCard
                    certificateName={certificate.data.certificateName}
                    certificateURL={certificate.data.certificateURL}
                    certificateAltDescription={certificate.data.certificateAltDescription}
                />
            )))
        }
    </div>

    <Separator />

    <div>
        <h3 class="text-2xl font-bold mb-4">Cursos</h3>
        {
            spanishCourseEntries.map((course => (
                <CourseCard 
                    img={course.data.image.url}
                    title={course.data.title}
                    subtitle={course.data.subtitle}
                    description={course.data.description}
                />
            )))
        }
    </div>

    <p class="font-bold">Te invito a ver el resto de mis certificaciones haciendo click 
        <a href="https://drive.google.com/drive/folders/1BIe74yPZU3P4QvxfE1Ir1xEZRFm9V1k_?usp=share_link" class="hover:text-blue-700" target="_blank">
            aquí
        </a>
    </p>

</div>
