---
export const partial = true;
import SectionInfo from "../../../components/SectionInfo.astro";
import { getCollection } from 'astro:content';
import JobCard from "../../../components/JobCard.astro";

const spanishJobEntries = await getCollection('jobs', ({ id }) => {
  return id.startsWith('es/');
});

---
<div>
    <SectionInfo 
        banner="https://res.cloudinary.com/dwczjy8e4/image/upload/v1713385682/portfolio/1-work_experience_zew2ic.png"
        alt="Personas trabajando con un ordenador y discutiendo temas en un entorno de trabajo"
        subtitle="HISTORIAL PROFESIONAL"
        title="Experiencia laboral"
    />

    <div class="flex flex-col justify-between">
        {
            spanishJobEntries.map((job => (
                <JobCard
                    title={job.data.title}
                    subtitle={job.data.subtitle}
                    description={job.data.description}
                    tasksList={job.data.tasksList}
                    techStack={job.data.techStack}
                />
            )))
        }
    </div>
</div>