---
const {title, subtitle, description, tasksList, techStack, techLegend} = Astro.props;
const url = Astro.url.pathname;

import Badge from "./Badge.astro";
---

<div class=" p-6 mb-5 rounded-lg shadow bg-zinc-800 border border-gray-600">
    <div class="mb-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight">
            {title}
        </h5>

        <p class="mb-2 italic text-gray-500">{subtitle}</p>

        <p class="mb-3 font-normal">{description}</p>

        <ul>
            {tasksList.map((task) => (
                <li class="list-disc ml-4">{task}</li>
            ))}
        </ul>
    </div>

    <hr class="h-px my-5 border-0 bg-gray-700">

    <div class="mb-5">
        <p class="mb-2 font-bold">{techLegend}</p>

        {
            techStack.map((tech => (
                <Badge imageURL={tech} classes="h-5 me-2"/>
            )))
        }
    </div>

</div>
