---
const { platform, username, iconClasses, text  } = Astro.props;

function renderSocial(platform, username, iconClasses, text) {
    switch (platform) {
        case "linkedin":
            return `<a class="text-slate-300" href="https://www.${platform}.com/in/${username}" target="_blank" rel="noopener noreferrer">
                        <i class="${iconClasses}"></i>${text ? text : ''}
                    </a>`;
        case "email":
            return `<a class="text-slate-300" href="mailto:${username}" target="_blank" rel="noopener noreferrer">
                        <i class="${iconClasses}"></i>${text ? text: ''}
                    </a>`;
        case "blog":
            return `<a class="text-slate-300" href="${username}" target="_blank">
                        <i class="${iconClasses}"></i>${text ? text: ''}
                    </a>`;
        default:
            return `<a class="text-slate-300" href="https://www.${platform}.com/${username}" target="_blank" rel="noopener noreferrer">
                        <i class="${iconClasses}"></i>${text ? text: ''}
                    </a>`;
    }
}
---
{
    <div set:html={renderSocial(platform, username, iconClasses, text)}></div>
}